<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Manta Ray ID Project - Details</title>
    <link rel="stylesheet" href="styles.css">
    <link href="thirdparty/fonts-Nunito-200-400-600.css" rel="stylesheet">
    <link rel="stylesheet" href="thirdparty/jquery.modal.0.9.1.min.css" />
</head>

<body>
    <div class="wrapper">
        <nav>
            <div class="container-lg">
                <div class="logo">
                    <a href="https://www.mantapacific.org/">
                        <img src="images/logo-manta-ray.png" alt="Manta Pacific Research Foundation Logo">
                      </a>
                    <h2>Manta Ray Identification Project</h2>
                </div>
                <div class="nav-options">
                    <a href="#sighting" rel="modal:open">
                        <h3>Report a Sighting</h3>
                    </a>
                    <a href="index.html">
                        <h3> Catalog</h3>
                    </a>
                    <a href="about.html">
                        <h3>About</h3>
                    </a>
                </div>
            </div>
        </nav>


        <div id="sighting" class="modal" style="background-color:var(--color-background)">
            <div class="detail-window" style="text-align: center;">
                <img src="images/logo-manta-ray.png" alt="Manta Pacific Research Foundation Logo">
                <h1>Report a sighting</h1>
                <br/>
				<p>This functionality is under development.
				</p>
				<p>In the mean time, 
				<a href="https://itunes.apple.com/us/app/manta-ray-tracker/id1191214032?mt=8" target="_blank">send us your manta photos and sighting information using our iOS App
				</a>
				<p>
				<p>Or
				<a href="http://www.mprf.net/identification-static/Photo-Policy.html" target="_blank">you can email them to our ID volunteers
				</a>
				</p>
            </div>
        </div>



        <div id="app">
            <div class="title-bar">
                <div class="container-lg">
                    <h1>{{manta.Name}}</h1>
                </div>
            </div>
            <div class="detail container-lg">
                <div>
                    <h3>Species: {{speciesDict[manta.Species]}}</h3>
                    <h3>Sex: {{sexDict[manta.Sex]}}</h3>
                    <h3>Color: {{colorDict[manta.BlackMorph]}}</h3>
                </div>
                <div>
                    <p>ID Number: {{manta.MPRFWebsiteNumber}}</p>
                    <p>First Sighting: {{manta.DateAdded}}</p>
                    <p>First Sighted by: {{manta.UserName}}</p>
                    <p>First size: {{firstSize}}</p>
                    <p>Current size: {{currentSize}}</p>
                </div>
                <p>Comments:<br />
                    {{manta.Comments}}</p>



                <!-- Slideshow container -->
                <div>
                    <h2>Pictures</h2>
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div v-for="(image, index) in manta.images" v-bind:key="image._photoID" class="mySlides fade">
                            <div class="numbertext">{{index + 1}} / {{manta.images.length}}</div>
                            <a v-bind:href="imageSrc + image.Path" target="_blank">
                                <img alt="Manta ray sighting picture" v-on:load="showSlides(1)" class="image-responsive"
                                    v-bind:src="imageSrc + image.Path">
                            </a>

                            <div class="text">Photo by {{image.PhotoCredit}}, taken {{image.DateTaken}}</div>
                        </div>


                        <!-- Next and previous buttons -->
                        <a class="prev" v-on:click="plusSlides(-1)">&#10094;</a>
                        <a class="next" v-on:click="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>

                    <!-- The dots/circles -->
                    <div style="text-align:center">
                        <span v-for="(image, index) in manta.images" v-bind:key="image._photoID" class="dot"
                            v-on:click="currentSlide(index+1)"></span>
                    </div>
                </div>

                <div v-if="sightings">
                    <div v-if="sightings.length > 0">
                        <h2>{{sightings.length}} Recent Sightings since {{sightingsDate}}</h2>

                        <section class="grid sightings">
                            <div class="sighting" v-for="sighting in sightings" v-bind:key="sighting._excursionID">
                                <div class="sighting-detail">
                                    <div>
                                        <h3 class="name">Date: {{sighting.StartDateTime}}</h3>
                                        <h3>Location: {{sighting.PlaceName}}, {{sighting.Region}}</h3>
                                        <h3>Lat/Long: N {{sighting.LocLat}} W {{sighting.LocLong}}</h3>
                                        <h3>Sighted By: {{sighting.Name}}</h3>
                                    </div>
                                    <div class="sightingImageDiv" v-if="sighting.PhotoAvail == '1'">
                                        <img src="images/camera.svg" alt="camera">
                                        <p>Photo taken</p>
                                    </div>
                                </div>

                            </div>
                        </section>

                    </div>
                    <div v-else>
                        <h2>No Recent Sightings since {{sightingsDate}}</h2>
                    </div>
                </div>
                <div v-else class="sightingsButtonDiv">
                    <button class="button single-button" v-on:click="GetSightings">Load Sightings</button>
                </div>


            </div>

        </div>




    </div>


    </div>


    <script src="thirdparty/jquery-3.2.1.min.js"></script>
    <script src="thirdparty/jquery.modal.0.9.1.js"></script>
    <script src="thirdparty/vue.min.js"></script>
    <script src="detail.js"></script>
</body>

</html>