/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--color-contrast);
}
a:hover {
  color: var(--color-primary);
}

/* End reset */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

/* _____________________________________________________________________________Global styles */
:root {
  --color-light: #e1e9ec;
  --color-dark: #132943;
  --color-contrast: #36a9b6;
  --color-primary: #a4cddb;
  --color-background: #14202e;
  --color-trans: rgba(180, 188, 220, 0.1);
  --color-white: #ddd;
}

.image-responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.image-tag {
  text-align: center;
  padding-top: 10px;
}

.container-lg {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

.active {
  color: var(--color-white);
}

/* desktop typography styles */
h1,
h2,
h3,
p,
h5 {
  color: var(--color-light);
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4;
}

/* desktop styles */

nav {
  padding: 20px 0;
  background-color: var(--color-dark);
}

nav > * {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav a h3 {
  color: var(--color-contrast);
  padding-left: 20px;
  font-weight: 200;
}
nav a h3:hover {
  color: var(--color-primary);
}

.logo {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.logo img {
  margin-right: 15px;
}

.nav-options {
  display: flex;
  align-items: center;
}

.title-bar {
  padding: 20px 0;
  background-color: var(--color-primary);
}

.title-bar > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-bar h1 {
  color: var(--color-background);
}

.search-field input {
  background-color: var(--color-light);
  border: none;
  border-radius: 4px;
  padding: 6px 15px;
  font-size: 14px;
  color: var(--color-background);
}

.filter-sort-bar {
  background-color: var(--color-trans);
  padding: 20px 0;
  width: 100vw;
}

.filter-sort-bar > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-sort-bar .container-lg > * {
  display: flex;
  flex-wrap: wrap;
}

.filters .ui-group {
  padding-right: 20px;
}

.ui-group p {
  color: var(--color-primary);
  font-weight: 400;
}

.thumbnails {
  display: grid;
  max-width: 1120px;
  grid-template-columns: repeat(auto-fit, 275px);
  margin: 0 auto;
  padding: 30px 0;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  background-color: var(--color-trans);
  border-radius: 6px;
  margin: 0 15px 30px 15px;
}

.thumb-image {
  border-radius: 6px 6px 0 0;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.thumb-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumb-image img.portrait {
  width: 100%;
  height: auto;
}

.thumb-image img.landscape {
  width: auto;
  height: 100%;
}

.thumb-detail {
  padding: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.thumb-detail .number {
  color: var(--color-contrast);
  margin-bottom: 0;
}

.thumb-detail .number:before {
  content: "ID# ";
}

.detail {
  background-color: var(--color-trans);
  border-radius: 6px;
  padding: 15px;
  margin-top: 20px;
}

/* _____________________________________Isotope test */

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 10px;
  background: var(--color-background);
  border: var(--color-primary) solid 1px;
  color: var(--color-primary);
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.button:active,
.button.is-checked {
  background-color: var(--color-primary);
}

.button.is-checked {
  color: var(--color-background);
}

.button:active {
  box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

/* ---- button-group ---- */

.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
}

.button-group .button:first-child {
  border-radius: 4px 0 0 4px;
}
.button-group .button:last-child {
  border-radius: 0 4px 4px 0;
}

.single-button {
  border-radius: 4px;
}

/* ---- isotope ---- */

/* clear fix */
.thumbnails:after {
  content: "";
  display: block;
  clear: both;
}

/* Slideshow */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

span.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.sightings {
  display: grid;
  max-width: 1120px;
  grid-template-columns: repeat(auto-fit, 1100px);
  margin: 10px auto;
  max-height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  margin-bottom: 30px;
}

.sighting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.sighting-detail {
  background-color: var(--color-trans);
  margin-right: 15px;
  border-radius: 6px;
  padding: 10px;
}
.sighting-detail div {
  display: inline-block;
}

.sightingImageDiv {
  float: right;
  margin-right: 20px;
}
.sightingImageDiv img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.sightingsButtonDiv {
  text-align: center;
  margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-trans);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-background);
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

.about-body{
  text-align:center;
}
.about-body h3{
  font-size:1.5rem;
}